<div *ngFor="let group of getProductGroups(); let i = index" class="carousel-item" [class.active]="i === 0">
  <div class="row">
    <div *ngFor="let product of group" class="col-md-3">
      <div class="card">
        <img [src]="product.image" class="card-img" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }} <span class="offer">{{product.offer}} Off</span></h5>
          <div class="same-row">
            <p class="mb-0">View More</p>
            <div class="badge bg-secondary text-dark">{{product.userCount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>