<nav class="navbar">
    <button class="navbar-toggler" type="button">
        <img src="images/header/menu-icon.png" />
    </button>
    <div class="search-bar">
        <div class="input-group">
            <div class="input-group-prepend d-none d-sm-block" appDropdownToggle>
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Select Category <i class="bi-chevron-down ms-2"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Fashion</a>
                    <a class="dropdown-item" href="#">Beauty</a>
                    <a class="dropdown-item" href="#">Utensils</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                </div>
            </div>
            <input type="text" class="form-control search-text" placeholder="Search by brands, category, items, etc.,">
            <div class="input-group-append d-none d-sm-block">
                <button class="btn search-btn">
                    <img src="images/header/Vector.png" /> |
                    <img src="images/header/search.png" />
                </button>
            </div>
        </div>
    </div>

    <div class="auth-buttons">
        <a href="#" class="btn btn-link register-btn d-none d-sm-block">Register</a>
        <button class="btn login-btn btn-sm btn-lg">Login</button>
    </div>
</nav>