.carousel {
    img {
      width: calc(100vw - 20px);
      height: 780px;
      object-fit: cover;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      filter: invert(100%);
    }
  }
  