.carousel {
  .carousel-item {
    width: 100%;
    height: 771px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #00000036;
      z-index: 1;
    }

    .carousel-caption {
      opacity: 0;
      z-index: 2;
      width: 509px;
      transition: opacity 1s ease-in-out;

      &.first {
        top: 275px;
        left: 245px;
        transform: translate(50%, 5%);
        transition: opacity 0.5s ease-in;
      }

      &.second {
        top: 225px;
        left: 90px;
      }

      &.center {
        top: 255px;
        left: calc(calc(100vw/2) - 200px);
      }

      h5 {
        font-weight: 700;
        font-size: 58px;
      }

      p {
        font-weight: 500;
        font-size: 20px;
      }

      .btn {
        width: 210px;
        height: 56px;
        font-size: 24px;
        font-weight: 700;
        color: #012B49;
      }
    }

    &.active .carousel-caption {
      opacity: 1;

      &.first {
        animation: moveAndBounce 1s ease-in-out forwards;
      }
    }
  }
}


@media (max-width: 1025px) {
  .carousel {
    .carousel-item {
      height: 500px;
    }
  }
}

@media (max-width: 500px) {
  .carousel {
    .carousel-item {
      height: 250px;
    }
  }
}

@keyframes moveAndBounce {
  0% {
    transform: translate(50%, 5%);
  }

  75% {
    transform: translate(-5%, -2%);
  }

  100% {
    transform: translate(0);
  }
}