<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <div class="overlay"></div>
      <img src="images/carousel.png" class="d-block w-100" alt="Product 1">
      <div class="carousel-caption text-start first d-none d-md-block">
        <h5>Lenovo Laptop</h5>
        <p class="my-3">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document.</p>
        <div class="btn btn-xl btn-light">Shop Now</div>
      </div>
    </div> 
    <div class="carousel-item" data-bs-interval="2500">
      <div class="overlay"></div>
      <img src="images/carousel.png" class="d-block w-100" alt="Product 2">
      <div class="carousel-caption text-start second d-none d-md-block">
        <h5>Donne Karan Delicious</h5>
        <p>At growth forumla we are dedicated to developing high-quality, great tasting performance nutrition.</p>
        <div class="btn btn-xl btn-primary text-white">Shop Now</div>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2500">
      <div class="overlay"></div>
      <img src="images/carousel.png" class="d-block w-100" alt="Product 3">
      <div class="carousel-caption center d-none d-md-block">
        <h5>Lenovo Tablet</h5>
        <p>Experienct the perfect balance of performance and efficiency with Infinitte possibilities</p>
        <div class="btn btn-xl btn-primary text-white">Shop Now</div>
      </div>
    </div>
   <div class="carousel-item" data-bs-interval="2500">
      <div class="overlay"></div>
      <img src="images/carousel.png" class="d-block w-100" alt="Product 3">
      <div class="carousel-caption center d-none d-md-block">
        <h5>Tommy Hilfiger</h5>
        <p>Bring Luxury to your Home</p>
        <div class="btn btn-xl btn-light">Shop Now</div>
      </div>
    </div>
  </div>
</div>