.category-menu {
  display: flex;
  padding: 10px 10px 15px 10px;
  margin: 0.8em 9em 0 9em;
  overflow-x: auto;

  .category-item {
    background: var(--secondary-color);
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;

    &:hover {
      background: var(--primary-color);
      color: #ffffff;
    }

    .dropdown-toggle {
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 0.375rem;
      border-color: transparent;

      &:hover {
        border: 0;
      }

      &.btn.show {
        border: 0;
      }
    }

    .dropdown-menu {
      position: fixed !important;
      top: 100%;
      left: 0;
      z-index: 1000;
      min-width: 150px;
      white-space: normal;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .category-menu {
    margin: 0.8em 1em 0 1em;
  }
}